In [2]:
# import libraries 
import pandas as pd
import os
from pycaret.classification import *
import shutil

In [3]:
# change working dir to top of work directory 
os.chdir('/home/rstudio/work')

In [4]:
data_train = pd.read_csv('data/working_data/filtered_transformed_training_data.csv', sep = ',')
data_pred = pd.read_csv('data/working_data/filtered_transformed_prediction_data.csv', sep = ',')

In [5]:
# Set up the PyCaret environment
s = setup(data_train, target='AdoptionSpeed', session_id=123)

In [13]:
# Train the models again on the filtered data (with important features)
gbc = create_model('gbc')
gbc_tuned = tune_model(gbc, n_iter=20)
plot_model(gbc_tuned, 'confusion_matrix',plot_kwargs = {'percent' : True}, save=True)
plot_model(gbc_tuned, 'auc',save=True)
plot_model(gbc_tuned, 'feature',save=True)

# move figures to proper dir 
destination_dir = '/home/rstudio/work/results/figures/gbc_model/'
plot_files = ['Confusion Matrix.png', 'AUC.png', 'Feature Importance.png']
for plot_file in plot_files:
    shutil.move(plot_file, os.path.join(destination_dir, plot_file))

Fitting 10 folds for each of 20 candidates, totalling 200 fits

In [15]:
predict_model(gbc_tuned, data = data_pred)

,Type,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,MaturitySize,FurLength,...,Sterilized,Health,Quantity,Fee,State,VideoAmt,PhotoAmt,AdoptionSpeed,prediction_label,prediction_score
0,2,4,266,0,3,1,4,7,2,2,...,2,1,3,0,41336,0,9.0,4,2,0.2848
1,2,12,292,292,2,2,0,0,2,1,...,2,1,4,0,41325,0,4.0,2,4,0.3761
2,1,48,152,0,2,1,2,0,1,1,...,1,1,1,0,41326,0,2.0,2,1,0.2750
3,2,18,265,0,2,1,7,0,3,2,...,2,1,6,1,41326,0,2.0,3,4,0.3619
4,1,4,307,109,1,3,4,5,2,1,...,2,1,1,0,41326,0,6.0,1,2,0.3048
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1494,2,2,266,0,3,1,0,0,2,2,...,2,1,4,0,41326,0,3.0,2,2,0.2861
1495,2,60,265,264,3,1,4,7,2,2,...,1,1,2,0,41326,0,3.0,4,4,0.3505
1496,2,2,265,266,3,5,6,7,3,2,...,3,1,5,30,41326,0,5.0,3,4,0.2583
1497,2,9,266,0,2,4,7,0,1,1,...,1,1,1,0,41336,0,3.0,4,4,0.3481
1498,1,1,307,307,1,2,0,0,2,1,...,2,1,1,0,41332,0,1.0,3,2,0.3271

In [14]:
# Train the models again on the filtered data (with important features)
rf = create_model('rf')
rf_tune = tune_model(rf, n_iter=20)
plot_model(rf_tune, 'confusion_matrix',plot_kwargs = {'percent' : True}, save=True)
plot_model(rf_tune, 'auc',save=True)
plot_model(rf_tune, 'feature',save=True)

# move figures to proper dir 
destination_dir = '/home/rstudio/work/results/figures/rf_model/'
plot_files = ['Confusion Matrix.png', 'AUC.png', 'Feature Importance.png']
for plot_file in plot_files:
    shutil.move(plot_file, os.path.join(destination_dir, plot_file))

Fitting 10 folds for each of 20 candidates, totalling 200 fits

In [16]:
predict_model(rf_tune, data = data_pred)

,Type,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,MaturitySize,FurLength,...,Sterilized,Health,Quantity,Fee,State,VideoAmt,PhotoAmt,AdoptionSpeed,prediction_label,prediction_score
0,2,4,266,0,3,1,4,7,2,2,...,2,1,3,0,41336,0,9.0,4,4,0.2994
1,2,12,292,292,2,2,0,0,2,1,...,2,1,4,0,41325,0,4.0,2,4,0.2875
2,1,48,152,0,2,1,2,0,1,1,...,1,1,1,0,41326,0,2.0,2,1,0.2703
3,2,18,265,0,2,1,7,0,3,2,...,2,1,6,1,41326,0,2.0,3,4,0.3541
4,1,4,307,109,1,3,4,5,2,1,...,2,1,1,0,41326,0,6.0,1,4,0.3437
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1494,2,2,266,0,3,1,0,0,2,2,...,2,1,4,0,41326,0,3.0,2,2,0.2995
1495,2,60,265,264,3,1,4,7,2,2,...,1,1,2,0,41326,0,3.0,4,4,0.4039
1496,2,2,265,266,3,5,6,7,3,2,...,3,1,5,30,41326,0,5.0,3,4,0.2818
1497,2,9,266,0,2,4,7,0,1,1,...,1,1,1,0,41336,0,3.0,4,4,0.3385
1498,1,1,307,307,1,2,0,0,2,1,...,2,1,1,0,41332,0,1.0,3,2,0.3582

In [8]:
# Train the models again on the filtered data (with important features)
ada = create_model('ada')
# ada_tuned = tune_model(ada) original model is better 
plot_model(ada, 'confusion_matrix',plot_kwargs = {'percent' : True}, save=True)
plot_model(ada, 'auc',save=True)
plot_model(ada, 'feature',save=True)

# move figures to proper dir 
destination_dir = '/home/rstudio/work/results/figures/ada_model/'
plot_files = ['Confusion Matrix.png', 'AUC.png', 'Feature Importance.png']
for plot_file in plot_files:
    shutil.move(plot_file, os.path.join(destination_dir, plot_file))

In [11]:
predict_model(ada, data = data_pred)

,Type,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,MaturitySize,FurLength,...,Sterilized,Health,Quantity,Fee,State,VideoAmt,PhotoAmt,AdoptionSpeed,prediction_label,prediction_score
0,2,4,266,0,3,1,4,7,2,2,...,2,1,3,0,41336,0,9.0,4,3,0.2035
1,2,12,292,292,2,2,0,0,2,1,...,2,1,4,0,41325,0,4.0,2,4,0.2052
2,1,48,152,0,2,1,2,0,1,1,...,1,1,1,0,41326,0,2.0,2,3,0.2027
3,2,18,265,0,2,1,7,0,3,2,...,2,1,6,1,41326,0,2.0,3,4,0.2094
4,1,4,307,109,1,3,4,5,2,1,...,2,1,1,0,41326,0,6.0,1,2,0.2037
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1494,2,2,266,0,3,1,0,0,2,2,...,2,1,4,0,41326,0,3.0,2,1,0.2024
1495,2,60,265,264,3,1,4,7,2,2,...,1,1,2,0,41326,0,3.0,4,4,0.2052
1496,2,2,265,266,3,5,6,7,3,2,...,3,1,5,30,41326,0,5.0,3,4,0.2038
1497,2,9,266,0,2,4,7,0,1,1,...,1,1,1,0,41336,0,3.0,4,4,0.2058
1498,1,1,307,307,1,2,0,0,2,1,...,2,1,1,0,41332,0,1.0,3,2,0.2046